# URL base del backend (API Gateway HTTPS). Misma variable en dev y prod.
# Ej: https://xxxx.execute-api.us-east-1.amazonaws.com/prod
VITE_API_URL=

# Mock fallback si el backend no está levantado
VITE_MOCK=false
